# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/

# Storage
shared/**
!shared/.gitkeep
ai-service/chroma_db
ai-service/scripts
backend-service/CLAUDE.md
backend-service/.claude
*.faiss
*.pkl
*.index
*.chroma_db

# Java / Gradle
*.class
*.jar
*.war
*.ear
/build/
/target/
/.gradle/
backend-service/src/main/resources/application-secret.yml

# Static assets
backend-service/src/main/resources/static/assets

# Node / Frontend
node_modules/
/dist/
/build/

# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# logs
logs/
