# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/

# Storage
storage/uploaded/*
storage/processed/*
storage/vectorstore/*
storage/temp/*
!storage/uploaded/.gitkeep
!storage/processed/.gitkeep
!storage/vectorstore/.gitkeep
!storage/temp/.gitkeep
*.faiss
*.pkl
*.index

# Java / Gradle
*.class
*.jar
*.war
*.ear
/build/
/target/
/.gradle/
backend-service/src/main/resources/application-secret.yml

# Node / Frontend
node_modules/
/dist/
/build/

# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# logs
logs/